In [7]:
import pandas as pd
import os
from sklearn.ensemble import RandomForestRegressor
#from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

# Load the data, and separate the target
iowa_file_path = '/Users/veek/Predicting-House-Prices---Regression-Techniques/train.csv'
df = pd.read_csv(iowa_file_path)
df.drop('Id', axis=1, inplace=True)
y = df['SalePrice']

# Select string-type features and one-hot encode 
string_df = df.select_dtypes(include=['object'])
one_hot = pd.get_dummies(df, columns=string_df.columns)

# Convert one-hot encoded features to int
for feature in one_hot.columns:
    if one_hot[feature].dtype == bool:
        one_hot[feature] = one_hot[feature].astype(int) 

# "cleaned" data
X = one_hot.drop(columns=['SalePrice'])

# Split into training and validation data
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.25, random_state=1)

# Define a random forest model
rf_model = RandomForestRegressor(random_state=1)
rf_model.fit(X_train, y_train)
rf_val_predictions = rf_model.predict(X_val)
rf_val_mae = mean_absolute_error(rf_val_predictions, y_val)
rf_val_mae

np.float64(16543.903452054794)

In [8]:
X.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0,0,0,1,0,0,0,0,1,0
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,0,0,0,1,0,0,0,0,1,0
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0,0,0,1,0,0,0,0,1,0
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,0,0,0,1,1,0,0,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,0,0,0,1,0,0,0,0,1,0